{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      { "development": true, "runtime": "automatic", "importSource": "react" }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
